<head>
  <meta charset="UTF-8">
  <title>People Found</title>
  <link rel="stylesheet" href="/public/site.css">
</head>
<body>
  <h1>People Found</h1>
  <h2>{{ personName }}</h2>
  <main>
    <ul>
      {{#each peopleList}}
      <li>
        <a href="/details/{{id}}">{{firstName}} {{lastName}}</a>
      </li>
      {{/each}}
    </ul>
  </main>
</body>
